.main-container {
    display: flex;
    justify-content: center;
}

.log-in-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top: 150px;
    width: 400px;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background: radial-gradient(ellipse at top, #498ac8 50%, transparent),
            radial-gradient(ellipse at bottom, #498ac8 50%, transparent);
}
  
.log-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    
}

.form-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.form-container-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
.form-inputs p {
    font-size: 0.8rem;
    margin-top: 0;
    color: #e65454;
    margin-bottom: 0;
}
  
.form-label {
    display: inline-block;
    font-size: 2vh;
    margin-bottom: 6px;
    color: #fff;
    margin-right: 5%;
    font-family: 'Chakra Petch', sans-serif;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 70%;
    border: none;
    margin-right: 2vh;
}
  
.form-input::placeholder {
    color: #595959;
    font-size: 12px;
}

.form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: #87939d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 3vh;
}
  
.form-input-btn:hover {
    cursor: pointer;
    background:  #529e4e;
    transition: all 0.15s ease-out;
}

.form-input-login {
    font-size: 0.8rem;
    margin-bottom: 1.5vh;
    color: #fff;
    width: 80%;
    text-align: center;
}
  
.form-input-login a {
    text-decoration: none;
    color: #232fdd;
    font-weight: 600;
}
