{% extends "index.html" %}

{% block styles%}
	<link rel="stylesheet" href="static/css/main.css">
{% endblock %}

{% block content %}
	<div class="content">
		<div class="left_bar">
			<div class="title-left-bar">
				<div class="back-button-container">
					<img class="back-button" src="../static/images/back_button.png">
				</div>
				<span class="lectures"> Лекции </span>
			</div>
				<a class="section" href="#">
					1. Механика
				</a>
				<a class="section" href="#">
					2. Термодинамика
				</a>
				<a class="section" href="#">
					3. Электричество
				</a>
				<a class="section" href="#">
					4. Оптика
				</a>
				<a class="section" href="#">
					5. Квантовая физика
				</a>
		</div>
		<div class="main_part">
			<div class="quote">
				Этот замечательный сайт для вас подготовили студенты в качестве своего pet-проекта
			</div>
			<div class="quote">
				Ученье – свет, а неученье – тьма
			</div>
		
			<div class="quote">
				Квантмех, статфиз и диффуры
				Денег будет две горы
			</div>
			<div class="img-container">
				<img class="meme_1" src="../static/images/1.jpg">
			</div>
			<div class="img-container">
				<img class="meme_2" src="../static/images/2.jpg">
			</div>

			<div class="quote"	>
				Кто не учит физику
				Те дурачки и шизики.
			</div>
		</div>
	</div>
{% endblock %}