{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/css/info.css">
{% endblock %}

{% block registration %}
{% if user.is_authenticated %}
	<li class="thick">
	</li>
	<li>
		<a href="/logout">Выйти</a>
	</li>
{% else %}
	<li class="thick">
	</li>
	<li>
		<a href="/signup">Регистрация</a>
	</li>
	<li class="thick">
	</li>
	<li>
		<a href="/login">Вход</a>
	</li>
{% endif %}
{% endblock %}

{% block content %}
	<div class="authors">
		<div class="author">
			<img src="../static/images/andrey.jpg">
			<ul>
				<p>
					Боровец Андрей
				</p>
				<div>
					https://github.com/15Andrew43 
				</div>
				<div>
					https://vk.com/avborovets
				</div>
				<div>
					@avborovets
				</div>
				<div>
					avborovets@gmail.com 
				</div>
				<div>
					https://instagram.com/avborovets
				</div>
			</ul>
		</div>
		<div class="author">
			<img src="../static/images/serg.jpg">
			<ul>
				<p>
					Молчанов Сергей
				</p>
				<div>
					https://github.com/ssergomol
				</div>
				<div>
					https://vk.com/ssergomol
				</div>
				<div>
					@ssergomol
				</div>
				<div>
					ssergomoll@gmail.com
				</div>
				<div>
					https://instagram.com/ssergomol
				</div>
			</ul>
		</div>
	</div>
{% endblock %}
