{% extends "left_bar_base.html" %}

{% block registration %}
{% if user.is_authenticated %}
	<li class="thick">
	</li>
	<li>
		<a href="/logout">Выйти</a>
	</li>
	<li class="thick">
	</li>
	<li>
		<a href="/profile">Профиль</a>
	</li>
{% else %}
	<li class="thick">
	</li>
	<li>
		<a href="/signup">Регистрация</a>
	</li>
	<li class="thick">
	</li>
	<li>
		<a href="/login">Вход</a>
	</li>
{% endif %}
{% endblock %}

{% block left_bar %}
<div class="left_bar">
    <div class="title-left-bar">
        <div class="back-button-container">
            <img class="back-button" src="../static/images/back_button.png">
        </div>
        <span class="lectures"> {{ index_tree.current_node.name }} </span>
    </div>
    	{% for child_node in index_tree.current_node.children_nodes %}
	        <a class="section" href="#" onclick="{{ change_path(child_node.id) }}">
	            {{ child_node.id }} {{ ". "+child_node.name }}
	        </a>
        {% endfor %}
</div>
{% endblock %}

{% block main_part %}
	<div class="main_part">
		<div class="quote">
			Этот замечательный сайт для вас подготовили студенты в качестве своего pet-проекта
		</div>
		<div class="quote">
			Ученье – свет, а неученье – тьма
		</div>
	
		<div class="quote">
			Квантмех, статфиз и диффуры
			Денег будет две горы
		</div>
		<div class="img-container">
			<img class="meme_1" src="../static/images/1.jpg">
		</div>
		<div class="img-container">
			<img class="meme_2" src="../static/images/2.jpg">
		</div>

		<div class="quote"	>
			Кто не учит физику
			Те дурачки и шизики.
		</div>
		</div>
{% endblock %}