{% extends "index.html" %}

{% block styles %}
{% endblock %}

{% block fonts %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="left_bar">
            <div class="title-left-bar">
                <div class="back-button-container">
                    <a href="/lectures/{{parent_section.parent_id}}">
                        <img class="back-button" src="../static/images/back_button.png">
                    </a>
                </div>
                <span class="lectures"> {{ parent_section.title }} </span>
            </div>

                {% for section in parent_section.children%}
                <a class="section" href="/lectures/{{section.id}}">
                    {{ section.title }}
                </a>
                {% endfor %}
        </div>

        {% block main_part %}
        {% endblock %}
    </div>
{% endblock %}