{% extends "left_bar_base.html"%}

{% block styles %}
<link rel="stylesheet" href="../static/css/profile.css">	
{% endblock %}

{% block main_part %}
<div class="profile_content">
		<div class="profile">
			<div class="profile_photo_name">
				<img class="profile_photo" src="../static/images/user_logo.png">
				<div>
					Имя
				</div>
			</div>
			<div class="info_panel">
				<ul class="personal_info">
					<li>
						Рейтинг: 100%
					</li>
					<li class="status">
						<div>
							Статус: Студен
							"повысить"	
						</div>
						<img src="../static/images/upgrade.png">
					</li>
				</ul>
				<ul class="admin_options">
					<li>
						Заявки
					</li>
					<li class="status">
						Все пользователи
					</li>
				</ul>
			</div>
		</div>
		<div class="horizontal_thick">
		</div>
		<div class="lectures">
			<div class="topic">
				<div class="naming">
					Публикации
				</div>
				<img src="../static/images/plus1.png">
				<textarea class="find">
					Поиск
				</textarea>
			</div>
		</div>
</div>
{% endblock %}
