{% extends "left_bar_base.html"%}

{% block styles %}
<link rel="stylesheet" href="../static/css/profile.css">	
{% endblock %}

{% block registration %}
{% if user.is_authenticated %}
	<li class="thick">
	</li>
	<li>
		<a href="/logout">Выйти</a>
	</li>
{% else %}
	<li class="thick">
	</li>
	<li>
		<a href="/signup">Регистрация</a>
	</li>
	<li class="thick">
	</li>
	<li>
		<a href="/login">Вход</a>
	</li>
{% endif %}
{% endblock %}

{% block left_bar %}
<div class="left_bar">
    <div class="title-left-bar">
        <div class="back-button-container">
            <img class="back-button" src="../static/images/back_button.png">
        </div>
        <span class="lectures"> {{ index_tree.current_node.name }} </span>
    </div>
    	{% for child_node in index_tree.current_node.children_nodes %}
	        <a class="section" href="#">
	            {{ child_node.id }} {{ ". "+child_node.name }}
	        </a>
        {% endfor %}
</div>
{% endblock %}

{% block main_part %}
<div class="profile_content">
		<div class="profile">
			<div class="profile_photo_name">
				<img class="profile_photo" src="../static/images/user_logo.png">
				<div>
					{{ user.username }}
				</div>
			</div>
			<div class="info_panel">
				<ul class="personal_info">
					<li>
						Рейтинг: 100%
					</li>
					<li class="status">
						<div>
							Статус: Студен
							"повысить"	
						</div>
						<img src="../static/images/upgrade.png">
					</li>
				</ul>
				<ul class="admin_options">
					<li>
						Заявки
					</li>
					<li class="status">
						Все пользователи
					</li>
				</ul>
			</div>
		</div>
		<div class="horizontal_thick">
		</div>
		<div class="lectures">
			<div class="topic">
				<div class="naming">
					Публикации
				</div>
				<img src="../static/images/plus1.png">
				<textarea class="find">
					Поиск
				</textarea>
			</div>
		</div>
</div>
{% endblock %}
