{% extends "index.html" %}

{% block styles %} 
    <link rel="stylesheet" href="../static/css/sign_up.css">
{% endblock %}

{% block fonts %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="log-in-container">
            <div class="sign-up-window">
                <form method="POST" class="form">   
                    <div class="form-container">              
                        <label for="username" class="form-label">Логин</label>
                        <input
                            class="form-input"
                            type="text"
                            name="username"
                            placeholder="Введите имя пользователя"
                        />
                    </div>   

                    <div class="form-container">
                    <label for="password1" class="form-label">Пароль</label>
                    <input
                        class="form-input"
                        type="password"
                        name="password1"
                        id="password1"
                        placeholder="Придумайте пароль"
                    />
                    </div>

                    <div class="form-container">
                        <label for="password2" class="form-label">Пароль</label>
                        <input
                        class="form-input"
                        type="password"
                        name="password2"
                        id="password2"
                        placeholder="Подтвердите пароль"
                        />
                    </div>

                    <div class="form-container">
                        <label for="email" class="form-label">Почта</label>
                        <input
                        class="form-input"
                        type="email"
                        name="email"
                        placeholder="Введите почту"
                        />
                    </div>
                    
                    <div class="form-line"></div>
                    
                    <div class="form-container-btn">
                        <button class="form-input-btn" type="submit">
                            Зарегистрироваться
                        </button>
                        <label class="form-input-login" for="form-input-btn">
                            Уже есть аккаунт? <a href="login">Войдите</a>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
